body{
    color:white;
    background: black;
    margin: 0px;
    font-family: "Bungee", sans-serif ;
}

header{
    border: solid 2px pink;
    padding: 20px;
    font-size: 32px;
    color: aqua;
}

section{
background: red;
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.Chamada-texto{
margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}